body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.left-panel {
  background: linear-gradient(150deg, #3adc6a 12%, #4a6bff 65%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
  position: relative;
}
.logo {
  width: 100px;
  opacity: 1;
  height: auto;
}
.app-name {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 70px;
  font-weight: 600;
}
.subtitle-atas {
  margin-top: -8px;
  font-size: 20px;
  opacity: 0.9;
}
.subtitle-bawah {
  margin-top: 1px;
  font-size: 20px;
  opacity: 0.9;
}
.banner {
  width: 450px;
  height: auto;
  margin-top: 0;
}
.footer {
  font-size: 20px;
  opacity: 0.9;
  margin-top: auto;
}

/* CSS Kanan Login start */
.right-panel {
  display: flex;
  justify-content: left;
  background-color: #fff;
  padding: 60px;
}
.login-box {
  width: 100%;
  max-width: 360px;
}

.logo-mobile,
.footer-mobile {
  display: none;
  width: 80px;
}

.login-box h3 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 70px;
}
.form-control {
  border-radius: 8px;
}
.btn-login {
  background-color: #4a6bff;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 10px;
  color: #fff;
  font-weight: 600;
}
.btn-login:hover {
  background-color: #3455e4;
}
.text-link {
  color: #4a6bff;
  text-decoration: none;
  font-weight: 500;
}
.text-link:hover {
  text-decoration: underline;
}

/* responsive */
@media (max-width: 768px) {
  .left-panel {
    display: none;
  }

  .right-panel {
    background: linear-gradient(150deg, #3adc6a 12%, #4a6bff 65%);
  }

  .form-label {
    color: #ffffff;
  }

  .login-box h3 {
    color: #ffffff;
    justify-self: center;
  }

  .text-start {
    color: #ffffff;
  }
  .text-link {
    font-weight: 500;
    font-style: italic;
    color: #b3ff00;
  }

  .logo-mobile {
    display: block !important;
    margin: 0 auto 20px auto !important;
    width: 100px !important;
    align-self: center !important;
  }

  .footer-mobile {
    margin-top: 12rem;
    color: #ffffff;
    display: inline-flex;
    white-space: nowrap;
  }
}
